div.flex
{
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        transform: translateY(25rem);
}
div.flex p 
{
        font-size: 20pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.flex input 
{
        padding: 12px 24px;
        border: 4px solid #076eff;
        border-radius: 2px;
        transition: .4s all;
        outline: none;
        font-size: 20pt;
        color: black;
}
div.flex input:not(:focus)
{
        border: 4px solid #ddd;
        color: #ddd;
}
div.flex button 
{
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20pt;
        padding: 12px 24px;
        background: #076eff;
        color: white;
        border: 4px solid #0b54b9;
        transition: .4s all;
        cursor: pointer;
}

div.flex button:not(:hover)
{
        border: 4px solid #076eff;
        transition: .4s all;
}